{% extends "accountability_app/base.html" %}

{%block content%}
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
    <div class="card" style="width: 250px; height: 250px;">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <form action="{% url 'accountability_app:payment_success' %}" method="POST" id="payment-form">
            {% csrf_token %}
            <input type="hidden" name="amount" value="{{ amount|default:0|divisibleby:100 }}">  <!-- Set the amount -->
            <button type="button" id="rzp-button1" class="btn btn-primary">Pay</button>
          </form>
        </div>
        <img src="https://picsum.photos/id/1/250/250" class="card-img" alt="...">
      </div>

    <script>
        var options = {
            "key": "{{ key }}",
            "amount": "{{ amount }}",
            "currency": "INR",
            "name": "{{ name }}",
            "description": "{{ description }}",
            "image": "{{ image }}",
            "order_id": "{{ order_id }}", // Use the order_id passed from the view
            "handler": function (response){
                // Handle success response
                document.getElementById('payment-form').submit();
            },
            "prefill": {
                "name": "Customer Name",
                "email": "customer@example.com",
            },
            "theme": {
                "color": "#F37254"
            }
        };
        var rzp1 = new Razorpay(options);
        document.getElementById('rzp-button1').onclick = function(e){
            rzp1.open();
            e.preventDefault();
        }
    </script>
{%endblock%}