{%extends 'accountability_app/base.html'%}
{% load static %}
{%block content%}

    <style>
        /* Basic styles for the calendar */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }
        a {
            text-decoration: none;
            color: blue;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Calendar</h1>
    <div>
        {{ cal|safe }}
        <img src="{% static 'accountability_project/static/images/favicon.png' %}" alt="Your Image">
        <li>{{cal.day}}</li>
        

    </div>
</body>
{%endblock%}