{% extends "accountability_app/base.html" %}

{% block content %}

{% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
<h2>Login</h2>

<button  id = 'increment'>Home</button>
<script>
    document.getElementById('increment').addEventListener('mouseover', function() {
        window.location.href = "{% url 'accountability_app:home' %}";  // Replace with your URL name
    });
  </script>
<form method="post">
    {% csrf_token %}
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
    </div>
    <button id ="login"type="submit">Login</button>
</form>
{% endblock content %}