{%extends 'accountability_app/base.html'%}
{%block content%}

            {%for note in notes%}
            <div class="container mt-5">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                <h5 class="card-title">{{note}}</h5>
                <p class="card-text">Public Notes</p>
                </div>
                </div>
                </div>
        
            {%endfor%}
            <p><a href="{%url 'accountability_app:private_notes'%}"> Click for Private Notes</p></a>
           
{%endblock%}